/* This dictates certain button types*/
button colours: 
  "Exit": danger 
  "Continue": primary
  "restart": warning


/* This part sets the colour and font style of the navbar*/
.bg-primary{
     background-color: rgb(242,127,52) !important;
}

.navbar{
    background-color: rgb(116,198,157) !important;
}

.navbar .d-none {
    color : #000;
    font-weight: bolder;
}

/* This part sets the colours for primary type buttons, including the hover colour, and the retention colour*/
.btn-primary{
    color: rgb(0,0,0);
    background-color: rgb(221,161,94);
    border-color: rgb(221,161,94);
}
  
.btn-primary:hover{
    color: rgb(255,255,255);
    background-color: rgba(188,108,37,0.9);
    border-color: rgba(188,108,37,0.3);
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7)
}

.btn-primary:active {
    color: rgb(0,0,0);
    background-color: rgba(188,108,37,0.9);
    border-color: rgba(188,108,37,0.3);
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7)
}
.btn-primary:disabled {
    color: rgb(0,0,0);
    background-color: rgba(188,108,37,0.9);
    border-color: rgba(188,108,37,0.3);
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7)
}

.btn-primary:focus {
    color: rgb(0,0,0);
    background-color: rgba(188,108,37,0.9);
    border-color: rgba(188,108,37,0.3);
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7)
}

.btn-primary:active:focus {
    color: rgb(0,0,0);
    background-color: rgba(188,108,37,0.9);
    border-color: rgba(188,108,37,0.3);
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7)
}

.select-input {
  color: rgb(0,0,0);
  background-color: rgba(188,108,37,0.9);
  border-color: rgba(188,108,37,0.3);
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7)
}

/* This part sets the colours for danger type buttons*/
.btn-danger{
    color: rgb(000,000,000);
    background-color: rgb(238,96,85);
    border-color: rgb(238,96,85);
}
.btn-danger:hover{
    background-color: (191,6,3,0.9);
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}
/* This part sets the colours for danger type buttons*/
.btn-warning{
    color: rgb(0,0,0);
    background-color: rgb(243,170,57);
    border-color: rgb(243,192,83);
}
.btn-warning:hover{
    color: rgb(0,0,0);
    background-color: rgb(251,199,57,0.9);
    border-color: rgb(251,199,57);
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}

/* This part sets the colours for the progress bar*/
.progress-bar{
    color: rgba(0,0,0);
    background-color: rgba(188,108,37,0.9)
}